<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registered</servlet-name>
    <servlet-class>com.controller.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registered</servlet-name>
    <url-pattern>/registeredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detailed</servlet-name>
    <servlet-class>com.controller.DetailedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailed</servlet-name>
    <url-pattern>/detailedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shop_cart</servlet-name>
    <servlet-class>com.controller.ShopcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shop_cart</servlet-name>
    <url-pattern>/shopcartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete_shop_cart</servlet-name>
    <servlet-class>com.controller.DeleteScServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_shop_cart</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteTea</servlet-name>
    <servlet-class>com.controller.DeleteTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTea</servlet-name>
    <url-pattern>/deleteTeaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateTea</servlet-name>
    <servlet-class>com.controller.UpdateTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTea</servlet-name>
    <url-pattern>/updateTeaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertTea</servlet-name>
    <servlet-class>com.controller.InsertTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertTea</servlet-name>
    <url-pattern>/insertTeaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>address</servlet-name>
    <servlet-class>com.controller.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>address</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
</web-app>